<!DOCTYPE html>
<html>
  <head>
    <title>Happy Music</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render 'shared/error_messages' %>
    <br>
    <br>
    <br>
    <%= yield %>
  </body>
  
</html>